.input {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: $background;
    border: none;
    padding: 10px;
    border: 2px solid $color;
    filter: drop-shadow(4px  4px rgb(0, 0, 0));
}
